<base target="_blank">

<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/css/hack.css">
<link rel="stylesheet" href="/css/style.css">

<script type="text/javascript" src="/reveal-js/js/reveal.js"></script>

<script type="text/javascript" src="/js/font-awesome.js"></script>
<script type="text/javascript" src="/js/crypto-core.js"></script>
<script type="text/javascript" src="/js/crypto-md5.js"></script>
<script type="text/javascript" src="/js/gitgraph.js"></script>
<script type="text/javascript" src="/js/typed.js"></script>
